<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubscriptionRequestsLabel">Create or edit a Subscription Requests</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subscriptionRequests.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subscriptionRequests.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="subscriptionRequests.status" id="field_status" >
                <option value="PENDING">PENDING</option>
                <option value="APPROVED">APPROVED</option>
                <option value="ACTIVE">ACTIVE</option>
                <option value="RENEWAL_PENDING">RENEWAL_PENDING</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_requestedDate">Requested Date</label>
            <div class="input-group">
                <input id="field_requestedDate" type="text" class="form-control" name="requestedDate" ngbDatepicker  #requestedDateDp="ngbDatepicker" [(ngModel)]="subscriptionRequests.requestedDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="requestedDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_approvalDate">Approval Date</label>
            <div class="input-group">
                <input id="field_approvalDate" type="text" class="form-control" name="approvalDate" ngbDatepicker  #approvalDateDp="ngbDatepicker" [(ngModel)]="subscriptionRequests.approvalDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="approvalDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subscriptionAmount">Subscription Amount</label>
            <input type="number" class="form-control" name="subscriptionAmount" id="field_subscriptionAmount"
                [(ngModel)]="subscriptionRequests.subscriptionAmount"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_startDate">Start Date</label>
            <div class="input-group">
                <input id="field_startDate" type="text" class="form-control" name="startDate" ngbDatepicker  #startDateDp="ngbDatepicker" [(ngModel)]="subscriptionRequests.startDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="startDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_endDate">End Date</label>
            <div class="input-group">
                <input id="field_endDate" type="text" class="form-control" name="endDate" ngbDatepicker  #endDateDp="ngbDatepicker" [(ngModel)]="subscriptionRequests.endDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="endDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
