<div>
    <h2>
        <span>Subscription Requests</span>
        <button class="btn btn-primary float-right jh-create-entity create-subscription-requests" [routerLink]="['/', { outlets: { popup: ['subscription-requests-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Subscription Requests
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subscriptionRequests">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Status</span></th>
            <th><span>Requested Date</span></th>
            <th><span>Approval Date</span></th>
            <th><span>Subscription Amount</span></th>
            <th><span>Start Date</span></th>
            <th><span>End Date</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subscriptionRequests of subscriptionRequests ;trackBy: trackId">
                <td><a [routerLink]="['../subscription-requests', subscriptionRequests.id ]">{{subscriptionRequests.id}}</a></td>
                <td>{{subscriptionRequests.status}}</td>
                <td>{{subscriptionRequests.requestedDate | date:'mediumDate'}}</td>
                <td>{{subscriptionRequests.approvalDate | date:'mediumDate'}}</td>
                <td>{{subscriptionRequests.subscriptionAmount}}</td>
                <td>{{subscriptionRequests.startDate | date:'mediumDate'}}</td>
                <td>{{subscriptionRequests.endDate | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subscription-requests', subscriptionRequests.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subscription-requests/'+ subscriptionRequests.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subscription-requests/'+ subscriptionRequests.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
