<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myMovieContentLabel">Create or edit a Movie Content</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!movieContent.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="movieContent.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="movieContent.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="movieContent.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_contentPath">Content Path</label>
            <input type="text" class="form-control" name="contentPath" id="field_contentPath"
                [(ngModel)]="movieContent.contentPath" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_generes">Generes</label>
            <select class="form-control" name="generes" [(ngModel)]="movieContent.generes" id="field_generes" >
                <option value="ABSURDIST">ABSURDIST</option>
                <option value="ACTION">ACTION</option>
                <option value="ADVENTURE">ADVENTURE</option>
                <option value="COMEDY">COMEDY</option>
                <option value="CRIME">CRIME</option>
                <option value="DRAMA">DRAMA</option>
                <option value="FANTASY">FANTASY</option>
                <option value="HISTORICAL">HISTORICAL</option>
                <option value="HORROR">HORROR</option>
                <option value="MYSTERY">MYSTERY</option>
                <option value="PARANOID">PARANOID</option>
                <option value="PHILOSOPHICAL">PHILOSOPHICAL</option>
                <option value="POLITICAL">POLITICAL</option>
                <option value="ROMANCE">ROMANCE</option>
                <option value="SAGA">SAGA</option>
                <option value="SATIRE">SATIRE</option>
                <option value="SCIENCE_FICTION">SCIENCE_FICTION</option>
                <option value="SOCIAL">SOCIAL</option>
                <option value="SPECULATIVE">SPECULATIVE</option>
                <option value="THRILLER">THRILLER</option>
                <option value="URBAN">URBAN</option>
                <option value="WESTERN">WESTERN</option>
                <option value="SLICE_OF_LIFE">SLICE_OF_LIFE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_language">Language</label>
            <select class="form-control" name="language" [(ngModel)]="movieContent.language" id="field_language" >
                <option value="ARABIC">ARABIC</option>
                <option value="BENGALI">BENGALI</option>
                <option value="BULGARIAN">BULGARIAN</option>
                <option value="CHINESE">CHINESE</option>
                <option value="CROATIAN">CROATIAN</option>
                <option value="DUTCH">DUTCH</option>
                <option value="ENGLISH">ENGLISH</option>
                <option value="FINNISH">FINNISH</option>
                <option value="FRENCH">FRENCH</option>
                <option value="GERMAN">GERMAN</option>
                <option value="GREEK">GREEK</option>
                <option value="HEBREW">HEBREW</option>
                <option value="HINDI">HINDI</option>
                <option value="HUNGARIAN">HUNGARIAN</option>
                <option value="ICELANDIC">ICELANDIC</option>
                <option value="ITALIAN">ITALIAN</option>
                <option value="JAPANESE">JAPANESE</option>
                <option value="KANNADA">KANNADA</option>
                <option value="KOREAN">KOREAN</option>
                <option value="MALAYALAM">MALAYALAM</option>
                <option value="MARATHI">MARATHI</option>
                <option value="NORWEGIAN">NORWEGIAN</option>
                <option value="PERSIAN">PERSIAN</option>
                <option value="POLISH">POLISH</option>
                <option value="PORTUGUESE">PORTUGUESE</option>
                <option value="PUNJABI">PUNJABI</option>
                <option value="ROMANIAN">ROMANIAN</option>
                <option value="RUSSIAN">RUSSIAN</option>
                <option value="SPANISH">SPANISH</option>
                <option value="SWEDISH">SWEDISH</option>
                <option value="TAMIL">TAMIL</option>
                <option value="TELUGU">TELUGU</option>
                <option value="TURKISH">TURKISH</option>
                <option value="UKRAINIAN">UKRAINIAN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_subscriptionType">Subscription Type</label>
            <select class="form-control" name="subscriptionType" [(ngModel)]="movieContent.subscriptionType" id="field_subscriptionType" >
                <option value="PAID">PAID</option>
                <option value="FREE">FREE</option>
                <option value="PREMIUM">PREMIUM</option>
                <option value="PREMIER">PREMIER</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_creationTime">Creation Time</label>
            <div class="input-group">
                <input id="field_creationTime" type="text" class="form-control" name="creationTime" ngbDatepicker  #creationTimeDp="ngbDatepicker" [(ngModel)]="movieContent.creationTime"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="creationTimeDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_updateDate">Update Date</label>
            <div class="input-group">
                <input id="field_updateDate" type="text" class="form-control" name="updateDate" ngbDatepicker  #updateDateDp="ngbDatepicker" [(ngModel)]="movieContent.updateDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="updateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_details">Details</label>
            <select class="form-control" id="field_details" name="details" [(ngModel)]="movieContent.details">
                <option [ngValue]="null"></option>
                <option [ngValue]="movieContentDetailsOption.id === movieContent.details?.id ? movieContent.details : movieContentDetailsOption" *ngFor="let movieContentDetailsOption of details; trackBy: trackMovieContentDetailsById">{{movieContentDetailsOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
